<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
</head>

<body style="display: flex; justify-content:center; align-items:center">
    <div style="width: 80%;">
        <h1>유익한 퀴즈</h1>
        <form action="result/" method="GET">
            <h2>다음 중 멋쟁이사자처럼의 운영 목적은?</h2>
            <input type="radio" name="q1" value="1">IT서비스 구축을 위한 웹프로그래밍 학습
            <input type="radio" name="q1" value="2">화성 탐사 및 에너지 자원 채취
            <input type="radio" name="q1" value="3">진화론과 창조론의 시시비비 가리기
            <h2>다음 중 멋쟁이사자처럼의 모집 절차가 아닌 것은?</h2>
            <input type="radio" name="q2" value="1">면접
            <input type="radio" name="q2" value="2">자기소개서
            <input type="radio" name="q2" value="3">코딩테스트
            <h2 style="color: red;">[중요]다음 중 2021학년도 성균관대학교 멋쟁이사자처럼 회장의 이름은?</h2>
            <input type="radio" name="q3" value="1">김지윤
            <input type="radio" name="q3" value="2">김태원
            <input type="radio" name="q3" value="3">조민재
            <br>
            <input type="submit" value="채점하기" style="margin-top: 5rem;">
        </form>
    </div>
</body>

</html>